/* Media query for smaller devices */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

  /* Media query for medium-sized devices */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}

  /* Media query for larger devices */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
  
@font-face {
  font-family: "CustomFont";
  src: url("SF-Pro.ttf");
}

body {
  font-family: "CustomFont", Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;

}

.clock {
  font-size: 24px;
  color: purple;
}

